* {
    margin: 0%;
    padding: 0%
}

/* @keyframes slide-auto {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-800px); 
    }
    66% {
        transform: translateX(-1600px);
    }
    100% {
        transform: translateX(0);
    }
}
.auto{
    animation:1s slide-auto forwards;
} */

.oswald-uniquifier {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.navbar-nav .nav-item {
    padding: 10px 20px;
}

.navbar-nav li a {
    font-family: "Oswald", sans-serif;
    color: white;
}

.pd-p1 {
    padding: 88px 0px;
}

.bd-p1 {
    border: 1px solid #efefef;
}
.bd-p6 {
    border-radius: 50px;
}

.ml20 {
    margin-left: 20px;
}

.mb24 {
    margin-bottom: 24px;
}
.mb48 {
    margin-bottom:48px;
}

.mb16 {
    margin-bottom: 16px;
}

.row .col-md-6 input {
    border-bottom: 2px solid #ffffff80;
    padding: 10px 0px;
    background: transparent;
    color: #fff;
}
li{
    list-style: none;
}
.row .col-md-6 h3 a{
    text-decoration: none;
    color: black;
}
.owl-theme .owl-dots {
    display: none;
}
.owl-nav{
    display: none;
}